
 <!-- Footer
		============================================= -->
			<!-- style="position: fixed; bottom: 0; width: 100%;" -->
		<footer id="footer" class="dark"
		>

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="widget clearfix">


						   <div class="col_one_third">
						   		 <img src="static/images/logofooter.png" alt="" class="footer-logo">
								  <div style="padding-left:40px">
								  	<!--
								 	<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn-contacto" value="submit">Contacto</button>
								 	//-->
								 </div>



							 </div>

							<div class="col_two_third col_last">
									 <address class="nobottommargin">
										<a href="http://www.unam.mx" target="_blank"><strong>Universidad Nacional Autónoma de México</strong></a><br>
										Facultad de Ingeniería, Av. Universidad 3000, Ciudad Universitaria, Coyoacán, México D. F., CP 04510<br>
									   </address>

									<strong>Teléfono:</strong>&nbsp;56 22 08 66<br>
									<strong>Fax:</strong>&nbsp;56 16 28 90<br>
									<a href="https://www.facebook.com/FacultadIngenieriaUNAM" class="social-icon si-small si-rounded topmargin-sm si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>

									<a href="http://mobile.twitter.com/FIUNAM_MX" class="social-icon si-small si-rounded topmargin-sm si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>

						  			<a href="http://www.instagram.com/fiunam_mx/" class="social-icon si-small si-rounded topmargin-sm si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
										<i class="icon-instagram"></i>
										<i class="icon-instagram"></i>
									</a>

									<a href="http://www.youtube.com/user/TVIngenieria" class="social-icon si-small si-rounded topmargin-sm si-youtube" data-toggle="tooltip" data-placement="top" title="Youtube">
										<i class="icon-youtube"></i>
										<i class="icon-youtube"></i>
									</a>




						   </div>


						</div>

					</div>

					<div class="col_one_third col_last">
						<div class="widget clearfix">
							<h4>Sitios de Interés</h4>
								<div class="widget_links">
									<ul>
										<li><a href="http://www.anfei.mx" target="_blank">ANFEI</a></li>
										<li><a href="http://cacei.org.mx" target="_blank">CACEI</a></li>
										<li><a href="http://www.alianzafiidem.org" target="_blank">Alianza FIDEM</a></li>
										<li><a href="http://ingenet.com.mx" target="_blank">INGENET</a></li>
									</ul>
								</div>
						</div>
				   </div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights2">

				<div class="container clearfix">

						<div class="copyrights2">
							Desarrollado bajo el proyecto PAPIME PE106922<br/>
							Copyrights &copy; 2016 /
							<a href="http://www.ingenieria.unam.mx">Facultad de Ingeniería</a>/<a href="http://www.unam.mx">UNAM</a>/
						</div>
			   </div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

