<!-- <head> -->

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Facultad de Ingenieria" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

	<link href="{{ url_for('static', filename='css/style-pe.css')       }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/modal.css')          }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/dropdown.css')       }}" rel="stylesheet" type="text/css" />

	<link href="{{ url_for('static', filename='css/bootstrap.css')      }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/style-fi.css')       }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/dark.css')           }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/font-icons.css')     }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/animate.css')        }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/colors.css')         }}" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')     }}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!--[if lte IE 8]><script src="js/ie6/warning.js"></script><script>window.onload=function(){e("js/ie6/")}</script><![endif]-->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js')    }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js')   }}"></script>
	<!--
	<script type="text/javascript" src="{{ url_for('static', filename='js/modal.js')     }}?id=
		{{ '%d' % ( range(1, 1000)| random ) }}"/></script>
	//-->

	<!-- Titulo
	============================================= -->
	<title>Progeval | Facultad de Ingeniería</title>

<!-- </head> -->