{# templates/_navigation.html #}

<aside class="nav-bar">
	<div>© 2022 — FI UNAM</div>
	<!-- <div class="right"></div> -->

{% if current_user.is_authenticated %}
	<div class="center">
		¡Hola {{ current_user.name.split(' ')[0] }}!
	</div>
{% endif %}

{% if not current_user.is_authenticated %}
	<div style="padding-right: 0.5em;">
		<a href="/admin">
			Acceso Profesor
		</a>
	</div>
{% else %}
	<nav class="right">
		<div class="dropdown">
			<div class="dropdown-button">Menú Profesor</div>
			<div class="dropdown-content">
				<div>
					<a href="/">Inicio</a>
				</div>
				<div>
					<a href="/admin">Mis evaluadores</a>
				</div>
				<div>
					<a href="/admin/evaluator/new">Crear evaluador</a>
				</div>
                <div>
                    <a href="/admin/group/new">Agregar grupo</a>
                </div>
				<div class="separator"></div>
				<div>
					<a href="/admin/logout">Cerrar sesión</a>
				</div>
			</div>
		</div>
	</nav>
{% endif %}
</aside>