{# templates/_navigation.html #}

{% if not current_user.is_authenticated %}
	<li><a href="/admin"><div>Acceso profesor</div></a></li>
{% else %}
	<li><a href="#"><div>Menú Profesor<img src="{{ url_for('static', filename='images/icons/mainsubmenured2.png') }}" alt="submenu"></div></a>
		<ul>
			<li><a href="/admin"><div>Mis evaluadores</div></a></li>
			<li><a href="/admin/evaluator/new"><div>Crear evaluador</div></a></li>
			<li><a href="/admin/group/new"><div>Agregar grupo</div></a></li>
			<li><a href="/admin/logout"><div>Cerrar sesión</div></a></li>
		</ul>
	</li>
{% endif %}
