<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
	{% include "_head-fi.html" %}
</head>

<body class="stretched">
	{% include "_fbapi-fi.html" %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		{% include "_header-fi.html" %}

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="pe-content">
				{% block content %}
				{% endblock content %}
			</div>
		</section><!-- #content end -->

	 	<!-- Footer
		============================================= -->
		{% include "_footer-fi.html" %}
	</div><!-- #wrapper end 'images/footer-bg.jpg'-->


	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/functions.js')   }}"></script>

	{% include "_modal.html" %}
</body>
</html>
{% block scripts %}
{% endblock scripts %}
