{# templates/index.html #}
{% extends "base.html" %}
{% block content %}

<article class="nomargin courses-container">
	{% for group in groups %}
		<button type="button" autofocus="false"
		onclick="window.location.href='/group/{{group.id}}'">
			<aside class="course-num">{{ group.id }}</aside>
			<article class="course-info">
			<div class="fillh">Curso: {{ group.subject }}</div>
			<div class="fillh">Grupo: {{ '%02d' % group.number }}</div>
			<div class="fillh">Profesor: {{ group.teacher }}</div>
			</article>
		</button>
	{% endfor %}
</article>

{% endblock content %}
